.Information-Holder {
  display: grid;
  grid-template-columns: repeat(2, 25.2rem);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;
  padding-top: 2.5rem;
  padding-left: 1.5rem;
}
.animal-type-link {
  text-decoration: none;
  color: black;
}
