.text-holder {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.AnimalBreed-label {
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #000000;
  padding-bottom: 0.5rem;
}
.BreedDesc {
  font-family: "Roboto";
  font-style: normal;
  font-size: 1.5rem;
  color: #000000;
  width: 48rem;
  word-break: break-all;
}
