.adoption-post-holder {
  display: flex;
  padding-top: 2rem;
  padding-left: 0.9rem;
  gap: 2rem;
  align-items: center;
  background-color: transparent;
}
.adoption-logo-holder {
  background-image: url("../../Image/AdoptionCard-logo.png");
  background-position: center;
  background-size: cover;
  width: 2.4rem;
  height: 2.5rem;
}
.adoption-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1rem;
}
