.delete-logo {
  width: 1.5rem;
  min-height: 1.5rem;
  position: relative;
  top: 3.7rem;
  left: 11.7rem;
  background-image: url("../../Image/deleteTest.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
  cursor: pointer;
}
