.edit-bio-header {
  display: flex;

  padding-top: 2rem;
  padding-left: 0.9rem;
  gap: 2rem;
  align-items: center;
}
.bio-image {
  background-image: url("../../Image/UpdateBio.jpg");
  background-position: center;
  background-size: cover;
  width: 2.3rem;
  height: 2.3rem;
  color: transparent;
}
.edit-bio-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1rem;
}
.Bio-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
}

.Bio-Update {
  width: 20rem;
  height: 10rem;
  background-color: #eef2f3;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}

.bio-btn {
  background-color: #124c5f;
  border-radius: 1.2rem;
  width: 10rem;
  height: 3rem;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}
