.edit-logo {
  width: 2rem;
  height: 2.1rem;
  margin-right: 0.5rem;
  margin-top: 3px;
  background-image: url("../../Image/edit-logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
