.change-image-header {
  display: flex;

  padding-top: 2rem;
  padding-left: 0.9rem;
  gap: 2rem;
  align-items: center;
}

.change-image-logo {
  background-image: url("../../Image/Change-Image.png");
  background-position: center;
  background-size: cover;
  width: 2.5rem;
  height: 2.3rem;
}
.change-image-label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1rem;
}
.change-image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 50rem;
  padding-left: 2.1rem;
  padding-bottom: 2rem;

  border-bottom: 1px solid #e0d4d4;
}
.user-image-holder {
  background-image: url("../../Image/UserImage.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25rem;
  height: 25rem;
  border-radius: 30rem;
}
.change-image-btn {
  background-color: #124c5f;
  width: 15rem;
  height: 3rem;
  border-radius: 50px;
  color: white;

  font-size: 1.3rem;
}
