.reset-password-header {
  display: flex;
  padding-top: 2rem;
  padding-left: 0.9rem;
  gap: 2rem;
  align-items: center;
}
.reset-password-logo {
  background-image: url("../../Image/reset.png");
  background-position: center;
  background-size: cover;
  width: 2.3rem;
  height: 2.3rem;
  color: transparent;
}
.reset-password-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1rem;
}
.reset-password-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e0d4d4;
  padding-left: 2.1rem;
  padding-bottom: 2rem;
  width: 790px;
}
.reset-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
}
.email-input {
  width: 15rem;
  height: 3rem;
  background-color: #eef2f3;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}
.new-password-input {
  width: 15rem;
  height: 3rem;
  background-color: #eef2f3;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}
.reset-password-btn {
  background-color: #124c5f;
  border-radius: 1.2rem;
  width: 10rem;
  height: 3rem;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}
