.reset-password-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-password-holder-leftsection {
  width: calc(100% / 2);
  border-right: 0.2rem solid rgba(224, 212, 212, 1);
  height: 100%;
}
.reset-password-holder-leftsection-image {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 2rem;
}
.reset-password-holder-rightsection {
  width: calc(100% / 2);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}
.reset-password-word {
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 3rem;
}
.reset-password-word-hint {
  font-size: 1.1rem;
  color: rgb(148, 144, 144);
  font-weight: bold;
  padding-left: 3rem;
}
.reset-password-email-form {
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}
.reset-password-button-form {
  padding: 0.6rem 0.6rem;
  border: 0;
  color: white;
  background: rgba(14, 38, 49, 1);
  border-radius: 0.625rem;
  font-weight: bold;
  width: 13rem;
}
.reset-password-resend {
  font-size: 1.1rem;
  color: rgb(148, 144, 144);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
