.info-Logo {
  background-image: url("../Image/InfoLogo.png");
  background-size: cover;
  width: 2.125rem;
  height: 1.813rem;
}
.Info-Text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.831rem;
}
.info-Header {
  display: flex;
  padding: 1.25rem 1.25rem;
}
