.info-Logo {
  background-image: url("../Image/InfoLogo.png");
  background-size: cover;
  width: 2.125rem;
  height: 1.813rem;
}
.Info-Text {
  font-size: 1.875rem;
  font-weight: bold;
}
.info-Header {
  display: flex;
  padding: 1.25rem 1.25rem;
  border-bottom: 0.2rem solid #e0d4d4;
}
