.Information-Scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(50rem - 15rem);
  width: 49rem;

  padding-right: 2.8rem;
}
::-webkit-scrollbar {
  width: 0.625rem;
  background: #e0d4d4;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #124c5f;
  -webkit-border-radius: 1ex;
}
