.Login-form-container {
  width: 73rem;
  height: 43.563rem;
  background: rgb(255, 255, 255);
  border-radius: 3rem;
  display: flex;
  justify-content: center;
}
.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.loginForm-holder {
  height: 43.563rem;
  width: calc(73rem / 2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.signin-word {
  color: black;
  font-size: 4rem;
}
.logo {
  width: 7rem;
  height: 7rem;
  background-image: url("../../Image//logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.form-button {
  padding: 0.6rem 0.6rem;
  border: 0;
  color: white;
  background: rgba(14, 38, 49, 1);
  border-radius: 0.625rem;
}
.forget-password {
  color: black;
  font-size: 0.9rem;
  position: relative;
  bottom: 1rem;
  left: 0.2rem;
  height: 0;
  cursor: pointer;
}
.account-sign-up {
  color: black;
  font-size: 0.75rem;
}
