.reset-password-section-holder {
  position: relative;
  border-top: 1px solid black;
  width: 28rem;
  bottom: 2.3rem;
}
.reset-new-password-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1.3rem;
  transition: 3s ease-in-out;
}
.reset-password-input {
  width: 20rem;
  height: 1rem;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  color: rgb(108, 106, 106);
  background: transparent;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.new-password-input:focus {
  color: black;
}
.reset-password-from-btn {
  width: 10rem;
  height: 2rem;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.reset-password-from-btn:hover {
  transition: 0.5s ease-in;
  background-color: white;
  color: black;
}
