.comment-form {
  position: relative;
}
.comment-input {
  width: 11.5rem;
  border-radius: 1rem;
  background: rgb(255, 255, 255);
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
}
.comment-form-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0.3rem;
  top: 0.8rem;
}
.send-form-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0.8rem;
  left: 13.5rem;
  cursor: pointer;
  border: 0;
  background-color: white;
}

.comment-input[type="text"] {
  padding-top: 1rem;
}
