.comment-input {
  width: 11.5rem;
  border-radius: 1rem;
  background: rgba(238, 242, 243, 1);

  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
}
.comment-form-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0.3rem;
  top: 1.9rem;
}
.send-form-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  right: 1rem;
  cursor: pointer;
}
.comment-input::placeholder {
  padding-top: 0.45rem;
}
