.post-data-holder {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.post-data-description-comment-carosil-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-data-description-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 18rem;
  height: calc(42rem - 6rem);
  gap: 2rem;
}
.post-data-carosil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(51rem - 18rem);
  height: calc(42rem - 6rem);
  background-color: blue;
}
