.birthday-selector-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.188rem;
}
.birthday-text {
  font-size: 1.875rem;
}
.selector-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
