.registration-container {
  width: 73rem;
  height: 43.563rem;
  background: rgb(255, 255, 255);
  border-radius: 3rem;
  display: flex;
  justify-content: center;
}
.registration-form-holder {
  width: calc(73rem - 29.25rem);
  height: 43.563rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.logo-registration {
  width: 5rem;
  height: 5rem;
  background-image: url("../../Image//logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.signup-word {
  color: black;
  font-size: 3rem;
}
.inpuFeild-holder {
  display: flex;
  justify-content: center;
  gap: 2.688rem;
}
.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.125rem;
}
.rigth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.125rem;
}
.birthday-holder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.188rem;
}
.birthday-holder-text {
  font-size: 1.9rem;
}
.birthday-holder-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.375rem;
}
.selector {
  padding: 1rem 0.688rem 0.688rem 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  background: unset;
  width: 5.688rem;
}

.AlreadyAccount {
  color: black;
}
.form-button-registration {
  padding: calc(0.6rem - 0.2rem) 0.6rem;
  border: 0.2rem solid rgba(14, 38, 49, 1);
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-radius: 0.625rem;
  font-weight: bold;
  transition: background-color 0.5s ease-in-out;
  width: 18.75rem;
}

.form-button-registration-active {
  padding: 0.6rem 0.6rem;
  border: 0;
  color: white;
  background: rgba(14, 38, 49, 1);
  border-radius: 0.625rem;
  font-weight: bold;
  transition: background-color 0.5s ease-in-out;
  width: 18.75rem;
}

@keyframes backgroundAnimation {
  0% {
    background-color: rgba(14, 38, 49, 1);
  }
  50% {
    background-color: rgba(219, 19, 19, 0.5);
  }
  100% {
    background-color: rgba(14, 38, 49, 1);
  }
}

.button-loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin: 3px auto;
  position: relative;
  color: #fff;
  left: -100px;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 white, 110px 0 white, 100px 0 white,
      0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white,
      110px 0 white;
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      130px 0 white, 120px 0 white;
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0), 130px 0 white;
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}
