.adoption-post-card-body {
  width: 16rem;
  height: 11rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.2rem;
}
.adoption-post-card-image {
  width: 16rem;
  height: 11rem;
  border-radius: 2rem;
}
.adoption-footer-section {
  display: flex;
  justify-content: start;
  align-items: center;
}
.adoption-post-card-user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.adoption-post-card-user-image {
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.adoption-post-card-user-name {
  font-size: 1.2rem;
}
.adoption-post-link {
  width: 16rem;
  height: 11rem;
  border-radius: 2rem;
}
.adoption-post-link {
  text-decoration: none;
  color: black;
}
