.post-adoption-holder {
  display: grid;
  grid-template-columns: repeat(3, 15.2rem);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;
}
.post-adoption-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(50rem - 15.5rem);
  width: 49rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.post-adoption-scroll::-webkit-scrollbar {
  width: 0.625rem;
  background: #baaaaa;
  -webkit-border-radius: 1ex;
}

.post-adoption-scroll::-webkit-scrollbar-thumb {
  background: #124c5f;
  -webkit-border-radius: 1ex;
}
