.post-adoption-holder {
  display: grid;
  grid-template-columns: repeat(3, 15.2rem);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;
}
.post-adoption-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(50rem - 15rem);
  width: 49rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}
