.adoption-post-username-user-image-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-left: 0.5rem;
}
.adoption-post-user-mage {
  background-repeat: no-repeat;
  background-size: cover;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}
.adoption-post-username-time {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
}
.adoption-post-username {
  font-size: 1.2rem;
}
.adoption-post-time-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.adoption-post-time-logo {
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
}
