.Adoption-select {
  width: 122px;
  height: 36px;
  border-radius: 8px;
}
.form {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.Adoption-Input {
  width: 122px;
  height: 36px;
  border-radius: 8px;
}
.Text {
  margin-top: 10px;
  font-size: larger;
}
hr {
  background-color: #e0d4d4;
  height: 2px;
  border: none;
}
